version: '3.4'

services:
  recall-seq:
    environment:
      - ACCEPT_EULA=Y
    ports:
      - "35340:80"
  
  
  recall-sqldata:
    environment:
      - SA_PASSWORD=Pass@word
      - ACCEPT_EULA=Y
    ports:
      - "35433:1433"
    volumes:
      - recall-sqldata:/var/opt/mssql


  recall-rabbitmq:
    ports:
      - "45672:15672"
      - "35672:5672"
    volumes:
      - recall-rabbitmq-data:/var/lib/rabbitmq/
      - recall-rabbitmq-log:/var/log/rabbitmq/


  recall-textlist.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "35210:80"
      
      
  recall-list.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "35201:80"
        
        
  recall-envoygateway:
    volumes:
      - ./Infrastructure/envoy.yaml:/etc/envoy/envoy.yaml
    ports:
      - "35191:80"
      - "35181:8001"
        
        
  recall-servicestatus:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "35107:80"


volumes:
  recall-sqldata:
    external: false
  recall-rabbitmq-data:
    external: false
  recall-rabbitmq-log:
    external: false